{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
    <time datetime='{{ .Date.Format "January 2, 2006" }}' pubdate>
        published {{ .Date | time.Format ":date_medium" }}
    </time>
    ·
    <time datetime='{{ .Date.Format "January 2, 2006" }}' pubdate>
        updated {{ .Lastmod | time.Format ":date_medium" }}
    </time>
    {{ with .Params.author }}· written by {{.}}{{ end }}
</p>
{{ end }}
<content>
    {{ .Content }}
</content>
<p>
    {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
    {{ end }}
</p>
{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
<p>
    <a href='mailto:{{ . }}?subject={{ "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
        {{ "email-reply" }} reply to this post by email ↪
    </a>
</p>
{{ end }}
{{ end }}
{{ end }}